/* font Lato */
*{
  font-family: 'lato',sans-serif;
}

.container{
  width: 100%;
  display : flex;
  justify-content: space-evenly;
}

/* taille de la font en mobile first */
.player1 .player, .player2 .player{
  font-size: 0.8em;
}

/* partie gauche joueur1 */
.player1 {
  width: 50%;
  height: 100vh;
  display : flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  background: lightblue;
  border-radius: 15px 0 0 15px;
}

/* partie droite joueur 2 */
.player2 {
  width: 50%;
  height: 100vh;
  display : flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  background: lightcoral;
  border-radius: 0 15px 15px 0;
}

/* effet grossissant */
.active .player{
  font-weight: bolder;
  transform : scale(1.2);
  transition: transform 0.4s;
}

/* pastille du joueur actif */
.active .player::after{
	content:'';
  height: 16px;
  width: 16px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -3px;
}

/* box score actuel */
.current {	
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 15%;
  border: 1px solid black;
  background-color: white;
}

.cp1, .cp2, .gp1, .gp2{
  text-align: center;		
}

.gp1,.gp2{
  font-weight:500;
}


/* Gestion des boutons et du dé */
/* div des boutons */
.buttons{
  position: absolute;
  left: 50%;
  margin-left: -60px;
  height: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  align-items: center;
  z-index: 100;
}

/* div des boutons jeter et sécuriser */
.roll-hold{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  transform : translateY(60px);
 }

/*box de l'image du dé */
.dice{ 
  width: 75px;
  height: 75px;
}


#new{
  transform : translateY(-20px);
}

/* largeur et margin des boutons */
#new,#roll,#hold{
  width:120px;
  margin: 1px; 
}

/* media queries */
@media screen and (min-width: 600px) {
  .buttons{    
  justify-content: space-evenly;   
  }
  #new{
    transform : translateY(10px);
  }
  .player1 .player, .player2 .player{
    font-size: 1em;
  }
  .roll-hold{
    transform : translateY(-10px);
  }
}